{% extends 'main.html' %}

{% block body %}
<!--
<div class="text-center mt-4">
    <h4>PlanToys AGV</h4>
    <br>
    <a href="{% url 'member_login' %}">
        เข้าสู่ระบบ
    </a>
    
    <br><br>
    <a href="{% url 'member_signup' %}">
        สมัครสมาชิกใหม่
    </a>
    
</div>
-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">PlanToys AGV</h1>
                <h2 class="text-black-50 mx-auto mt-2 mb-5">Moving to future</h2>
                <a class="btn btn-primary" href="{% url 'member_login' %}">เข้าสู่ระบบ</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}