{% extends 'main.html' %}

{% block style %}
    <style>
        a.btn {
            width: 200px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="text-center">
    <h4>สวัสดี {{ name }}</h4>
    <h5>คุณเข้าสู่ระบบแล้ว</h5>
    <br>
    <a href=# class="btn btn-success">เพิ่มคิวส่งชิ้นงาน</a><br>
    <a href=# class="btn btn-danger">ลบคิวส่งชิ้นงาน</a><br>
    <!--
    <a href="{% url 'member_update' %}" class="btn btn-primary">แก้ไขข้อมูลสมาชิก</a><br>
    <a href="javascript:resign()" class="btn btn-danger">ยกเลิกการเป็นสมาชิก</a><br>
    -->
    <a href="{% url 'member_signout' %}" class="btn btn-info">ออกจากระบบ</a><br>
</div>
<script>
function resign() {
    var msg = 'หากยกเลิกการเป็นสมาชิก\n' +
                'ข้อมูลของคุณจะถูกลบทั้งหมด\n' +
                'คุณยืนยันที่จะยกเลิกการเป็นสมาชิกหรือไม่?';

    if (!confirm(msg)) {
        return;
    } else {
        location.href = "{% url 'member_resign' %}";
    }
}
</script>
{% endblock %}