{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block style %}
    <style>
        form {
            max-width: 450px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post" action="{{ action }}">
        <br>
        <h5 class="text-center">ข้อมูลสมาชิก</h5>
        <br>
        {% if err_msg != None %}
            <div class="text-danger text-center">{{ err_msg }}</div><br>
        {% endif %}

        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <p class="text-center">
            <button type="button" onclick="formSubmit(this)" class="btn btn-primary">ตกลง</button>
            <br><br>
            <a href="{% url 'member_signin' %}">ยกเลิก</a>
        </p>
    </form>
    <br>

    <script>
    function formSubmit(bt) {
        var pswd = document.getElementById('id_password').value;
        var pswd_cf = document.getElementById('id_confirm_pswd').value;
        if (pswd != pswd_cf) {
            alert('ท่านใส่รหัสผ่านทั้งสองช่องไม่ตรงกัน');        
        } else {
            document.querySelector('form').submit();
        }
    }

    var el = document.getElementById('id_email');
    el.onblur = function() {
        if (el.value.trim() == '') {
            return;
        }

        axios({
            url:'',      
            params:{'email':el.value},
            timeout: 3000,
            headers: {'X-Requested-With': 'XMLHttpRequest'}
        })
        .then(response => {
            if (response.data.exist == true) {
                el.value = '';
                alert('อีเมลนี้มีผู้ใช้แล้ว');
            } else {
                //...
            }
        })
        .catch(error => {
            alert(error);
        });
    }
    </script>
{% endblock %}