{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block style %}
    <style>
        form {
            max-width: 300px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post">
        <br>
        <h5 class="text-center">สมาชิกเข้าสู่ระบบ</h5>
        <br>
        {% if err_msg != None %}
            <div class="text-danger text-center">{{ err_msg }}</div><br>
        {% endif %}

        {# csrf_token #}
        
        {{ form|crispy }}
        <br>
        <p class="text-center">
            <button class="btn btn-primary">เข้าสู่ระบบ</button><br><br>
            <a href="/">หน้าแรก</a>  - 
            <a href="{% url 'member_signup' %}">สมัครสมาชิก</a>
        </p>
    </form>
    <br>
{% endblock %}